*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: linear-gradient(to right, rgb(89 0 128) 0%, #130e0f 100%);
    font-size: 12px;
}

body,
button,
input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}


/* MENU AND NAVBAR*/

.menu-containeryeni {
    max-width: 1280px;
    margin: 10px;
    margin-top: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-container-contact {
    max-width: 1280px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav.yeni {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 32px;
    background-color: rgb(89, 0, 128);
}

.logo {
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
}

.hamburger {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background-color: aliceblue;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: #2b2d42;
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.hamburger.is-active:hover span {
    background-color: #2b2d42;
}

.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #2b2d42;
    padding-top: 120px;
    transition: 0.5s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #363852;
    color: #fff;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #40425f;
}

.menu-contact {
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    align-items: center;
    margin: 0 -16px;
}

.menu-contact a {
    align-items: center;
    vertical-align: middle;
}

.menu--contact-item {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    margin: 0px 16px;
    border-radius: 99px;
}

.menu-contact-item:hover {
    background-color: #2b2d42;
}

.login-logo {
    color: #fff;
    background-color: #414464;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    margin: 0px 16px;
    border-radius: 10px;
}

.login-logo:hover {
    background-color: #2b2d42;
}

.home-header {
    height: 550px;
}

.home-header .bg-image {
    position: absolute;
    background-size: cover;
    background-position: center;
    box-shadow: #2b2d42;
    height: 550px;
    width: 100%;
    z-index: -1;
}

.home-header .home-content {
    color: #fff;
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 0px;
    width: 600px;
}

.home-header .home-content h1 {
    padding-bottom: 40px;
    font-size: 50px;
}

.home-header .home-content p {
    padding-bottom: 40px;
}

.home-sign-button {
    text-decoration: none;
    background: #2b2d42;
    border-radius: 6px;
    padding: 10px;
}

.home-sign-button:hover {
    background: #414464;
    transition: 0.4s;
    color: aliceblue;
}

.background {
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #3c0354;
}

.app-contact {
    margin-top: auto;
    font-size: 10px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button-cancel {
    background: none;
    border: none;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button-send {
    background: none;
    border: none;
    color: #767ef8;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #b9134f;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }
    .screen-body-item.left {
        margin-bottom: 30px;
    }
    .app-title {
        flex-direction: row;
    }
    .app-title span {
        margin-right: 12px;
    }
    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }
    .screen-body-item {
        padding: 0;
    }
}