/*************** İLAN SAYFASI *********/


.ilan-main-container {
    
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 200px);
    margin: 100px;
    margin-bottom: 0;
}

.ilan-container {
    display: flex;
    flex-direction: column;
}

.ilan-container-header {
    
    width: calc(100% - 500px);
    min-width: 400px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 30px 20px 30px 30px;
    background: #8c5cf2;
}

.ilan-container-content {

    margin: 30px 20px 30px 30px;
    width: calc(100% - 500px);
    min-width: 400px;

}

.ilan-select-content {

    display: flex;
}

.game-select-content {

    flex-grow: 4;
    margin-right: 20px;
}
.game-select {

    background: #8c5cf2;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    height: fit-content;
}

.player-select-content{

    flex-grow: 1;
    justify-self:  flex-end;
}

.game-select option{

    background: #fff;
}

.radio-container {

    display: flex;
    align-items: center;
}
.radio-select {

    background-color: #1c1c1c;
    border: 1px solid #8c5cf2;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.radio-select:checked {

    background-color: #1c1c1c;
    border: 1px solid #8c5cf2;
}


.ilan-textarea {


    width: 100%;
    min-width: 200px;
    margin-top: 30px;
    min-height: 150px;
    background: #1c1c1c;
    border: 2px solid #8c5cf2;
    color: #fff;
}

.ilan-textarea:focus{

    background: #1c1c1c;
    border: 2px solid #8c5cf2;
    color: #fff;


}
.ilanver-button{

    float: right;
    background: #8c5cf2;
    color: #fff;
    border: none;
    outline: none;
    padding: 8px 30px;
    margin-top: 30px;
}






.dropdown__selected {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 20px 0 10px;
    font-size: 14px;
    border: 2px solid #8c5cf2;
    position: relative;
    cursor: pointer;
    transition: box-shadow .3s ease;
  }
  
  .dropdown__selected::after {
    top: calc(50% - 2px);
    right: 10px;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    border-top-color:#000;
    border-width: 4px;
    margin-left: -4px;
  }
  
  .dropdown__selected:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  .dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: none;
    border-top: 0;
    background-color: #1c1c1c;
    z-index: 5;
    display: none;
  }



  
  .dropdown__menu_items {
    max-height: 210px;
    overflow-y: auto;
  }
  
  .dropdown__menu_items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}
.dropdown__menu_items::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.dropdown__menu_items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #8c5cf2;
}

  .dropdown__menu_search {
    display: block;
    width: 100%;
    border: 0;
    padding: 12px;
    outline: 0;
    background-color: #4e4e4e;
  }
  
  .dropdown__menu_item {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  

  .dropdown__menu_item:hover {
    background-color: #4e4e4e;
  }
  
  .dropdown__menu_item.selected,
  .dropdown__menu_item.selected:hover {
    background-color: #8c5cf2;
    color: #000;
  }
  