* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    max-height: 100vh;
    background: #131313;
    background-size: cover;
}


/************SIDEBAR*******/

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: linear-gradient(51.48deg, rgba(140, 92, 242, 0.2) -5.88%, rgba(0, 0, 0, 0) 62%), #1C1C1C;
    z-index: 100;
    transition: all 0.5s ease;
    border-right: 0.5px solid #575757;
}

.sidebar.close {
    width: 78px;
    background: none;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.sidebar .logo-details img {
    width: 40px;
    text-align: center;
    margin-left: 20px;
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
    /* LİNK İÇERİSİNDEKİ ALT ÇİZGİYİ KALDIRMAK İÇİN */
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 12px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 12px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 9px;
}

.home-section {
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 28px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}


/**** MAIN_CONTAINER****/

.main-container {
    display: block;
    margin-bottom: 0;
    margin-left: 78px;
    margin-right: 80px;
    transition: margin-right .7s;
}

.game-section {
    display: flex;
    flex-wrap: wrap;
    transition: margin-right .7s;
}


/******************     RIGHT SIDEBAR     *******************/

.profile-main-section {
    height: 100%;
    width: 80px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    top: 0;
    right: 0;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    background-color: transparent;
    border-left: 0.5px solid #575757;
    padding-top: 10px;
}


.large-side-control  {
    margin-left: 30px;
    padding: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}

.large-side-control::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #575757;
}
.large-side-control::-webkit-scrollbar {
    width: 4px;
    margin-block: 15px;
    background-color: #363535;
}

.large-side-control::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #8c5cf2;
}


.profile-section-1{

    margin-bottom: 20px;
}
.bottom-message-section {

    position: fixed;
    display: flex;
    z-index: 1;
    right: 0;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    background: #131313;
    border-left: 0.5px solid #575757;
    width: 250px;
    height: 50px;
}

.bottom-message-section button {
    display: flex;
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
   
}


.bottom-message-section button .message-span {
    color: #fff;
    font-size: 9px;
    margin-top: -10px;
    margin-left: -5px;
    padding: 3px;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #d60505;
    
}

.profile-main-section a {
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.profile-main-section a:hover {
    color: #f1f1f1;
}

.profile-main-section .closebtn {
    display: none;
   
    font-size: 20px;
    text-align: center;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 8px 7px;
    border: none;
}


/**********MINI RIGHT SIDEBAR****************************/

.mini-side-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.mini-side-control .mini-side-profile-image {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    background-size: cover;
    border-radius: 50%;
}

.mini-side-control .mini-side-game-image {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
}

.mini-side-control p {
    display: block;
    width: 100%;
    max-width: 50px;
    border-radius: 10px;
    margin: 0 auto 10px;
    margin-top: 15px;
    padding: 5px 0;
    text-align: center;
    background: linear-gradient(265.82deg, rgba(28, 28, 28, 0.3) 17.01%, rgba(28, 28, 28, 0) 79.78%), #8C5CF2;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.mini-side-control a {
    margin: 0;
    padding: 0;
}

.mini-side-control .users {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-side-control .users a {
    margin: 0;
    padding: 0;
}

.mini-side-control .status-icons-green {
    color: #02d11e;
    font-size: 8px;
    margin-left: -3px;
}

.mini-side-control .status-icons-red {
    color: #d10202;
    font-size: 8px;
    margin-left: -3px;
}

.mini-side-control .status-icons-yellow {
    color: #e7ff0d;
    font-size: 8px;
    margin-left: -3px;
}
.mini-side-control .status-icons-gray {
    color: #bdbdbd;
    font-size: 8px;
    margin-left: -3px;
}

.mini-side-control .users:hover {
    transform: scale(1.1);
    transition: 0.4s;
}



/******PROFILE LARGE SIDEBAR***********/
.profile-section::-webkit-scrollbar {
    display: none;
}

.profile-main-section .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1f1f1f;
    width: calc(100% - 30px);
    max-height: 250px;
    border-radius: 15px;
    margin: 15px 0;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.profile-main-section .profile-info .profile-top {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -10px;


}


.profile-main-section .profile-info .profile-image {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -60px;
    box-shadow: 0 0 0 3px #8c5cf2, inset 0 0 0 5px #000, inset 0 0 0 5px #000, inset 0 0 0 5px #000, inset 0 0 0 5px #000;

}
.profile-main-section .profile-info .profile-image img {

  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;

}


.profile-main-section .profile-info .emoji {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    color: #b8b8b8;
}

.profile-main-section .profile-info .emoji .emoji-count {
    margin-left: 15px;
    font-size: 10px;
}

.profile-main-section .profile-info .emoji .emoji-count i {
    margin-right: 5px;
    font-size: 15px;
}

/****PROFILE NAME AND VERIFIED ICON****/
.profile-main-section .profile-info .profile-name {
    padding: 12px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.profile-main-section .profile-info .verified-icon {
    color: #1466ff;
    font-size: 15px;
    padding-left: 10px;
}

/****PROFILE BUTTONS****/


.profile-main-section .profile-info .profile-buttons {
    display: flex;
    width: 200px;
    margin-top: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}



.profile-main-section .profile-info .profile-buttons button {
    display: flex;
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
    margin: 5px 15px;
    margin-top: -30px;    
}


.profile-main-section .profile-info .profile-buttons button .message-span {
    color: #fff;
    font-size: 9px;
    margin-top: -10px;
    margin-left: -5px;
    padding: 3px;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #d60505;
    
}

/*********TOP DROPDOWN********/
.dropbtn {
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  
  .profile-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1C1C1C;
    border-radius: 10px;
    margin-top: 15px;
    min-width: 160px;
    right: 15px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }
  
  .dropdown-content a {
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
  }
  .dropdown-content a i{
    color: aliceblue;
    margin-right: 10px;
    font-size: 15px;
  }
  .dropdown-content hr {

    background: #636262;
    border: .5px solid #636262;
    margin: 5px 10px;
  }
  .dropdown-content a .dropdown-status-icons-green {

    color: #02d11e;
    margin-right: 10px;
  }
  .dropdown-content a .dropdown-status-icons-red {

    color: #d11a02;
    margin-right: 10px;
  }
  .dropdown-content a .dropdown-status-icons-yellow {

    color: #fbff00;
    margin-right: 10px;
  }
  .dropdown-content a .dropdown-status-icons-gray {

    color: #bdbdbd;
    margin-right: 10px;
  }

  
  .dropdown-content a:hover {
      
    background-color: #363535;
    }
  
  .show {display: block;}


  /*********MESSAGE DROPDOWN********/

  .message-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .message-dropdown-content {
    display: none;
    position: fixed;
    background-color: #1C1C1C;
    margin-top: 15px;
    border-radius: 15px;
    min-width: 350px;
    height: 400px;
    right: 20px;
    bottom: 50px;
    z-index: 1;

  }

  .message-dropdown-content .message-top {

    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    margin-bottom: 10px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    height: 30px;
    align-items: center;
    background: linear-gradient(265.82deg, rgba(28, 28, 28, 0.3) 17.01%, rgba(28, 28, 28, 0) 79.78%), #8C5CF2;
    
  }
  .message-dropdown-content .message-top  a{

    color: #fff;
    font-size: 12px;
  }

  

  .message-dropdown-content .message-content {
    display: block;
    margin: 5px 0;
    padding: 0;
    height: 350px;
    overflow-y: scroll;
}

.profile-message {
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;
}

.message-dropdown-content .message-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #575757;
}

.message-dropdown-content .message-content::-webkit-scrollbar {
    width: 4px;
    margin-block: 15px;
    background-color: #363535;
}

.message-dropdown-content .message-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #8c5cf2;
}


.profile-message{

    display: flex;
    align-items: center;
    padding: 5px 0;
}
.profile-message:hover {

    transition: 0.3s;
    background: #3a3a3a;
}


.profile-message .profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3px 20px;
    vertical-align: middle;
}

.profile-message .profile-name {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

}
.profile-message .profile-name .message-send-name {
    color: aliceblue;
    font-size: 12px;
    margin-bottom: -2px;
}
.profile-message .profile-name .message-send-name .verified-icon {
    
    color: #1466ff;
    font-size: 12px;
    margin-left: 8px;
}
.profile-message .profile-name .message-send-content {
    color: aliceblue;
    font-size: 12px;
    font-family:'Segoe UI', sans-serif;
    margin-bottom: -2px;
    font-style: italic;
    font-weight: 100;
    
}
  
  .show {display: block;}




/***************** DM*********************/
  
  .message-dm-dropdown-content {
    display: none;
    position: fixed;
    background-color: #363636;
    margin-top: 15px;
    border-radius: 15px;
    min-width: 350px;
    height: 450px;
    right: 20px;
    bottom: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }


  .message-dm-dropdown-content .message-top {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 30px;
    margin-bottom: 10px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    height: 40px;
    background: linear-gradient(265.82deg, rgba(28, 28, 28, 0.3) 17.01%, rgba(28, 28, 28, 0) 79.78%), #8C5CF2;
    
  }

  .message-dm-dropdown-content .message-top .profile-holder{

    display: flex;
    align-items: center;
    
    
  }

  .close-dm-message-button {

    margin-left: 100px;
  }



  .message-dm-dropdown-content .message-top .profile-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 3px 10px;
    vertical-align: middle;
}

.message-dm-dropdown-content .message-top .profile-name {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.message-dm-dropdown-content .message-top .profile-name a {
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
}
.message-dm-dropdown-content .message-top .profile-name a .verified-icon {
    
    color: #fff;
    font-size: 12px;
    margin-left: 8px;

} 


/*****MESSAGE BOTTOM******/

.message-dm-dropdown-content .message-bottom {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
    background: #1C1C1C;
    min-height: 40px;

}

.message-dm-dropdown-content .message-bottom button{

    padding: 0 5px;

}

.message-dm-dropdown-content .message-bottom .extensions-button {

    font-size: 20px;
    background: #8c5cf2;
    border-radius: 50%;
    padding: 0 5px;
    transition: 0.5s;
}
.message-dm-dropdown-content .message-bottom .extensions-button:hover {

    background: #6d48be;
  
}
.message-dm-dropdown-content .message-bottom .extensions-button-animation {

    transform: rotate(45deg);

    
}


.message-extensions-dropdown-content {
    display: none;
    position: fixed;
    background-color: #1c1c1c;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
    width: 350px;
    height: 30px;
    right: 20px;
    bottom: 90px;
    z-index: 1;

  }

  .message-extensions-dropdown-content button {
    
    margin-right: 15px;
    transition: 0.4s;

  }

  .message-extensions-dropdown-content button:hover {
    
    color: #8c5cf2;

  }
.extension-show {display: flex;}



.message-dm-dropdown-content .message-bottom .message-input-group {

    display: flex;
    align-items: center;
    margin: 0 10px;
}


.message-dm-dropdown-content .message-bottom input{

    height: 30px;
    min-height: 30px;
    width: 100%;
    margin: 0 10px;
    padding: 0 10px;
    outline: none;
    border: none;
    font-family: 'Segoe UI';
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    color: #fff;
    background: transparent;


}

.message-dm-dropdown-content .message-bottom textarea::-webkit-scrollbar{

    display: none;
}


.message-dm-dropdown-content .message-content {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 0;
    height: 350px;
    overflow-y: auto;
}

.message-dm-dropdown-content .user-message {

    align-self: flex-end;
    background: linear-gradient(265.82deg, rgba(28, 28, 28, 0.3) 17.01%, rgba(28, 28, 28, 0) 79.78%), #8C5CF2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: fit-content;
    max-width: 180px;
    padding: 5px 10px;
    margin-bottom: 15px;
}
.message-dm-dropdown-content .user-message p {

    color: #fff;
    font-family: 'Segoe UI';
    font-size: 12px;

}
.message-dm-dropdown-content .user-message .message-features {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.message-dm-dropdown-content .user-message .message-features span {

    color: #1c1c1c;
    font-family: 'Segoe UI';
    font-size: 10px;
}
.message-dm-dropdown-content .message-features button {

   
    font-size: 10px;
}

.message-dm-dropdown-content .friend-message {

    align-items: flex-end;
    background: linear-gradient(265.82deg, rgba(28, 28, 28, 0.3) 17.01%, rgba(28, 28, 28, 0) 79.78%), #5d5b61;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: fit-content;
    max-width: 180px;
    padding: 5px 10px;
    margin-bottom: 15px;


}
.message-dm-dropdown-content .friend-message p {

    color: #fff;
    font-family: 'Segoe UI';
    font-size: 12px;

}
.message-dm-dropdown-content .friend-message .message-features {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.message-dm-dropdown-content .friend-message .message-features span {

    color: #1c1c1c;
    font-family: 'Segoe UI';
    font-size: 10px;
}

.profile-message {
    display: flex;
    margin-bottom: 10px;
}

.message-dm-dropdown-content .message-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #575757;
}

.message-dm-dropdown-content .message-content::-webkit-scrollbar {
    width: 4px;
    margin-block: 15px;
    background-color: #363535;
    display: none;
}

.message-dm-dropdown-content .message-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #8c5cf2;
}

  .show {display: block;}


/************ MESSAGE FEATURES DROPDOWN*************/
.message-features-dropdown {

    background-color: #1c1c1c;
    border-radius: 10px;
    min-width: 100px;

    
}
.message-features-dropdown a {

    color: #fff;
    font-size: 12px;
    font-family: 'Segoe UI';
    padding: 5px 8px;
}
.message-features-dropdown a:hover {

    background: #2e2e2e;
}

.message-features-dropdown a i{

    margin-right: 8px;
  
}



/******PROFILE STATUS ICONS*******/
.profile-top .profile-status-icon-green {
    color: #02d11e;
    font-size: 15px;
    margin-top: -6px;
}

.profile-top .profile-status-icon-red {
  color: #d11a02;
  font-size: 15px;
  margin-top: -6px;
}
.profile-top .profile-status-icon-yellow {
  color: #fbff00;
  font-size: 15px;
  margin-top: -6px;
}
.profile-top .profile-status-icon-gray {
    color: #bdbdbd;
    font-size: 15px;
    margin-top: -6px;
  }

.profile-main-section .profile-info .profile-button {
    display: block;
    width: 100%;
    max-width: 150px;
    border-radius: 15px;
    margin: 0 auto 5px;
    text-align: center;
    padding: 6px 5px;
    background: linear-gradient(265.82deg, rgba(28, 28, 28, 0.3) 17.01%, rgba(28, 28, 28, 0) 79.78%), #8C5CF2;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

.profile-main-section .profile-info .profile-tag {
    display: block;
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    margin: 0 auto 10px;
    margin-top: -15px;
    text-align: center;
    padding: 6px 5px;
    background: linear-gradient(265.82deg, rgba(28, 28, 28, 0.3) 17.01%, rgba(28, 28, 28, 0) 79.78%), #8C5CF2;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.profile-main-section .profile-info .profile-button:hover {
    background-color: #734dc4;
    transition: 0.4s;
}

.game-rooms {
    display: block;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.profile-game-rooms {
    display: block;
    max-width: max-content;
}

.game-rooms::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #575757;
}

.game-rooms::-webkit-scrollbar {
    width: 4px;
    margin-block: 15px;
    background-color: #363535;
}

.game-rooms::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #8c5cf2;
}

.profile-game-rooms .game-image {
    display: inline-block;
    margin-right: 5px;
}

/*************SIDEBAR STATUS ICONS*******/
.profile-game-rooms .game-image .status-icons-green {
    color: #02d11e;
    font-size: 8px;
    margin-left: -10px;

}

.profile-game-rooms .game-image .status-icons-red {
    color: #d10202;
    font-size: 8px;
    margin-left: -10px;
}

.profile-game-rooms .game-image .status-icons-yellow {
    color: #e7ff0d;
    font-size: 8px;
    margin-left: -10px;
}

.profile-game-rooms .game-image .status-icons-gray {
    color: #bdbdbd;
    font-size: 8px;
    margin-left: -10px;
}

.profile-game-rooms .game-name {
    display: inline-block;
    max-width: 90px;
    vertical-align: middle;
    margin-right: 10px;
}

.profile-game-rooms .game-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3px 0px;
    vertical-align: middle;
}

.profile-game-rooms .game-name a {
    text-decoration: none;
    color: aliceblue;
    font-size: 10px;
}


/* CONTENT INFO*/

.content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
    height: 40px;
}

.content-info h2 {
    color: aliceblue;
    font-size: 25px;
    padding-left: 50px;
}

.content-info a {
    color: aliceblue;
    font-size: 15px;
    padding-left: 20px;
}


/***************************************************************/


/********************************************   CARD-SECTION   *************************************************/

.wrapper,
.wrapper-main {
    display: flex;
    margin: 10px 20px;
    justify-content: center;
    align-content: flex-start;
    /* Önceki hali buydu  ---> justify-content: space-evenly;  center ile değiştirdik.   */
    flex-wrap: wrap;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.wrapper-main {
    height: calc(100vh - 80px);
}

.wrapper2 {
    display: flex;
    justify-content: flex-start;
    margin: 10px 10px;
    padding: 0px 10px;
    /* Önceki hali buydu  ---> justify-content: space-evenly;  center ile değiştirdik.   */
    flex-wrap: nowrap;
    height: 380px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.wrapper::-webkit-scrollbar-track,
.wrapper-main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #575757;
}

.wrapper::-webkit-scrollbar,
.wrapper-main::-webkit-scrollbar {
    width: 4px;
    background-color: #363535;
    scroll-behavior: smooth;
}

.wrapper::-webkit-scrollbar-thumb,
.wrapper-main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #8c5cf2;
}


/***************/

.wrapper2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #575757;
}

.wrapper2::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #363535;
    scroll-behavior: smooth;
    transition: 0.5s;
}

.wrapper2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #8c5cf2;
}

.wrapper-content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper-content {
    display: flex;
    width: 100%;
    margin: 0 0;
    justify-content: center;
}

.scroll-arrow-right {
    font-size: 30px;
    background-color: transparent;
    color: #8C5CF2;
    border: none;
    outline: none;
    margin-right: 35px;
    padding: 0;
    cursor: pointer;
}

.scroll-arrow-right:hover {
    color: #6e4db4;
    transition: 0.4s;
}

.scroll-arrow-left {
    font-size: 30px;
    background-color: transparent;
    color: #8C5CF2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.scroll-arrow-left:hover {
    color: #6e4db4;
    transition: 0.4s;
}


/******************* GAME CARD ***********************************/

img {
    max-width: 100%;
}

.game {
    position: relative;
    width: 8.8rem;
    min-width: 8.8rem;
    height: fit-content;
    color: #fff;
    margin: 20px;
    margin-top: 40px;
}

.game .btn {
    cursor: pointer;
    padding: 0.5em 3em;
    border: 0;
    background: #8C5CF2;
    color: #fff;
    font-weight: bold;
    font-size: 00.8rem;
    border-radius: 12px;
}

.game .btn:hover {
    background: #684ca5;
    transition: 0.5s ease;
}

.streamers {
    display: flex;
    text-align: center;
}

.streamers img {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.front {
    transition: 200ms;
}

.front>img {
    border-radius: 8px;
}

.front .name {
    margin: 0.75em 0;
    font-size: 1em;
}

.front .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.front .streamers img {
    border: 1px solid rgb(13, 17, 19);
}

.front .streamers img:nth-child(1) {
    z-index: 1;
    transform: translateX(15px);
}

.front .streamers img:nth-child(2) {
    transform: translateX(10px);
}

.back {
    position: absolute;
    top: 56%;
    left: 0;
    right: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.back .streaming-info {
    
    columns: 2;
    column-rule: 1px solid rgba(255, 255, 255, 0.6);
}

.back .game-stat {
    font-size: 0.8rem;
    text-align: center;
}

.back .game-stat span {
    display: block;
    font-size: 0.6rem;
}

.back .streamers {
    display: flex;
}
.back .streamers .number {
    margin-top: -15px;
}

.backgroundWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1f1f1f;
    z-index: -1;
    transform: scale(0.2, 0.8);
    visibility: hidden;
    border-radius: 12px;
}

.game:hover .front {
    transform: translateY(-25%) scale(0.8);
}

.game:hover .front .name {
    animation: gameName 200ms forwards;
}

.game:hover .front .status {
    visibility: hidden;
}

.game:hover .back {
    visibility: visible;
}

.game:hover .back .streamers {
    width: 100%;
    justify-content: space-between;
}

.game:hover .back .streamer {
    font-size: 0.6rem;
}

.game:hover .back .name {
    font-weight: bold;
}

.game:hover .rank {
    top: -35px;
    right: -30px;
}

.game:hover .backgroundWrapper {
    transition: transform 200ms ease-in-out, opacity 100ms linear;
    visibility: visible;
    transform: scale(1.4, 1.2);
}

.rank {
    position: absolute;
    right: 15px;
    font-weight: bold;
    font-size: 0.9rem;
    background: rgba(0, 0, 0, 0.75);
    padding: 0.5em 0.5em;
    clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
    transition: 250ms ease-in-out;
}

@keyframes gameName {
    0% {
        text-align: left;
        visibility: visible;
    }
    20% {
        text-align: left;
        visibility: hidden;
    }
    50% {
        text-align: center;
        visibility: hidden;
    }
    100% {
        text-align: center;
        visibility: visible;
    }
}




/************** HABER CARD *************/

.haber-card {
    width: 250px;
    min-width: 250px;
    height: 300px;
    margin: 10px;
    background-color: #1c1c1c;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;

}
.haber-card:hover .haber-card__caption {
    top: 50%;
    transform: translateY(-50%);
}
.haber-card:hover .haber-card__image {
    transform: translateY(-10px);
}
.haber-card:hover .haber-card__thumb::after {
    top: 0;
}
.haber-card:hover .haber-card__snippet {
    margin: 20px 0;
}
.haber-card__thumb {
    position: relative;
    max-height: 300px;
    overflow: hidden;
    border-radius: 15px;

}
@media (min-width: 1024px) {
    .haber-card__thumb {
        max-height: 350px;
   }
}
.haber-card__thumb::after {
    position: absolute;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}
@media (min-width: 1024px) {
    .haber-card__thumb::after {
        top: calc(100% - 140px);
   }
}
.haber-card__image {
    transition: 0.5s ease-in-out;
}
.haber-card__caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: 0.3s;
}
@media (min-width: 1024px) {
    .haber-card__caption {
        top: calc(100% - 110px);
        transform: unset;
   }
}
.haber-card__title {
    display: -webkit-box;
    max-height: 85px;
    overflow: hidden;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.haber-card__snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-family:'Segoe UI';
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: 0.5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
@media (min-width: 1024px) {
    .haber-card__snippet {
        margin: 60px 0;
   }
}
.haber-card__button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background: #8c5cf2;
    border-radius: 8px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}
.haber-card__button:hover {
    color: black;
    background-color: #6d48be;


}


/*****************************PROFILE CARD*******************************/

.profile-card {
    margin: 20px 20px;
    width: 250px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
    background: #151515;
}

.profile-card .ds-top {
    margin: auto;
    width: 250px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #8C5CF2;
    animation: dsTop 1.5s;
}

.profile-card .avatar-holder {
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: -30px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000, inset 0 0 0 5px #000, inset 0 0 0 5px #000, inset 0 0 0 5px #000;
    background: white;
    animation: mvTop 1.5s;
}

.profile-card .avatar-holder img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-card .name {
    margin: auto;
    margin-top: 10px;
    width: inherit;
    height: 40px;
    text-align: center;
    animation: fadeIn 2s ease-in;
}

.profile-card .name a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.profile-card .name a:hover {
    text-decoration: underline;
    color: #8C5CF2;
}

.profile-card .name h6 {
    margin: auto;
    color: white;
    width: 40px;
}

.profile-card .button {
    margin: auto;
    padding: 8px;
    width: inherit;
    height: 40px;
    text-align: center;
    animation: fadeIn 2s ease-in;
    outline: none;
}

.profile-card .button a {
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-size: 10px;
    background: #8C5CF2;
    transition: all 1s;
}

.profile-card .button a:hover {
    color: white;
    background: #6c4fac;
}

.profile-card .ds-info {
    margin: auto;
    width: inherit;
    height: 40px;
    display: flex;
}

.profile-card .ds-info .pens,
.profile-card .ds-info .projects,
.profile-card .ds-info .posts {
    position: relative;
    width: calc(250px / 3);
    text-align: center;
    color: white;
    animation: fadeInMove 2s;
    animation-fill-mode: forwards;
}

.profile-card .ds-info .pens h6,
.profile-card .ds-info .projects h6,
.profile-card .ds-info .posts h6 {
    text-transform: uppercase;
    font-size: 10px;
    color: #8C5CF2;
}

.profile-card .ds-info .pens p,
.profile-card .ds-info .projects p,
.profile-card .ds-info .posts p {
    font-size: 12px;
}

.profile-card .ds-info .ds:nth-of-type(2) {
    animation-delay: 0.5s;
}

.profile-card .ds-info .ds:nth-of-type(1) {
    animation-delay: 1s;
}

.profile-card .ds-skill {
    margin: auto;
    width: 200px;
    height: 100px;
    animation: mvBottom 1.5s;
}

.profile-card .ds-skill h6 {
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
    color: #8C5CF2;
}

.profile-card .ds-skill .skill h6 {
    font-weight: 400;
    font-size: 8px;
    letter-spacing: 0.05em;
    margin: 4px 0;
    color: white;
}

.profile-card .ds-skill .skill .fab {
    color: #8C5CF2;
    font-size: 14px;
}

.profile-card .ds-skill .skill .bar {
    height: 5px;
    background: #8C5CF2;
    text-align: right;
}

.profile-card .ds-skill .skill .bar p {
    color: white;
    font-size: 8px;
    padding-top: 5px;
    animation: fadeIn 5s;
}

.profile-card .ds-skill .skill .bar:hover {
    background: white;
}

.profile-card .ds-skill .skill .bar-html {
    width: 95%;
    animation: htmlSkill 1s;
    animation-delay: 0.4s;
}

.profile-card .ds-skill .skill .bar-css {
    width: 90%;
    animation: cssSkill 2s;
    animation-delay: 0.4s;
}

.profile-card .ds-skill .skill .bar-js {
    width: 75%;
    animation: jsSkill 3s;
    animation-delay: 0.4s;
}

@keyframes fadeInMove {
    0% {
        opacity: 0;
        left: -300px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes htmlSkill {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}

@keyframes cssSkill {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes jsSkill {
    0% {
        width: 0;
    }
    100% {
        width: 75%;
    }
}

@keyframes mvBottom {
    0% {
        bottom: -150px;
    }
    100% {
        bottom: 10px;
    }
}

@keyframes mvTop {
    0% {
        top: -150px;
    }
    100% {
        top: 40px;
    }
}

@keyframes dsTop {
    0% {
        top: -150px;
    }
    100% {
        top: 0;
    }
}

.following {
    color: white;
    background: crimson;
}


/************** FOOTER*****************/

.index-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #020303;
    color: aliceblue;
}


/******** NAVBAR MOBILE *********/

@media (min-width: 767px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
}


/****** HOME SLIDER MOBILE*******/

@media (max-width: 820px) {
    .img-slider {
        width: 100%;
    }
    .img-slider .slide .info {
        padding: 30px 50px;
        padding-top: 90px;
    }
    .img-slider .slide .info h2 {
        font-size: 35px;
    }
    .img-slider .slide .info p {
        width: 70%;
        font-size: 15px;
    }
    .img-slider .navigation {
        bottom: 25px;
    }
    .img-slider .navigation .btn {
        width: 10px;
        height: 10px;
        margin: 8px;
    }
    .menu-container {
        margin: 0px 0px;
    }
    .content-info h2 {
        font-size: 15px;
    }
}

@media (max-width: 620px) {
    .img-slider {
        width: 100%;
    }
    .img-slider .slide .info {
        padding: 30px 50px;
        padding-top: 70px;
        width: 400px;
    }
    .img-slider .slide .info h2 {
        font-size: 30px;
    }
    .img-slider .slide .info p {
        width: 80%;
        font-size: 13px;
    }
    .img-slider .navigation {
        bottom: 15px;
    }
    .img-slider .navigation .btn {
        width: 8px;
        height: 8px;
        margin: 6px;
    }
    .menu-container {
        margin: 0px 0px;
    }
    /* CONTENT INFO*/
    .content-info {
        margin-top: 20px;
        padding: 10px;
        height: 40px;
    }
    .content-info h2 {
        color: aliceblue;
        font-size: 15px;
    }
    /************* CARD MOBILE ***********/
    .game_card {
        width: 130px;
        height: 180px;
        border-radius: 7px;
        margin: 10px;
    }
    .game_card::before {
        border-radius: 7px;
    }
    .game_card:hover {
        transform: translateY(5px);
    }
    .game_card img {
        border-radius: 7px;
    }
    .game_card .info h1 {
        font-size: 20px;
    }
    .game_card .info {
        margin-bottom: -10px;
    }
    .game_card .info p {
        font-size: 12px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .game_card .info button {
        padding: 0.3rem;
        border-radius: 1px;
        font-size: 10px;
    }
    .wrapper {
        margin: 20px;
    }
    .content-info h2 {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .img-slider {
        width: 100%;
    }
    .img-slider .slide .info {
        padding: 20px 40px;
        padding-top: 70px;
        width: 350px;
    }
    .img-slider .slide .info h2 {
        font-size: 25px;
    }
    .img-slider .slide .info p {
        width: 90%;
        font-size: 11px;
    }
    .img-slider .navigation {
        bottom: 10px;
    }
    .main-logo {
        width: 80px;
    }
    .menu-container {
        margin: 0px 0px;
    }
    /* CONTENT INFO*/
    .content-info {
        margin-top: 20px;
        margin-right: 20px;
        padding: 10px;
        height: 40px;
    }
    .content-info h2 {
        font-size: 15px;
    }
    .content-info a {
        font-size: 10px;
    }
    /************* CARD MOBILE ***********/
    .wrapper,
    .wrapper2 {
        margin: 5px 5px;
    }
    .wrapper::-webkit-scrollbar,
    .wrapper-main::-webkit-scrollbar {
        display: none;
    }
    .wrapper2 {
        height: 230px;
    }
    .game {
        width: 4.4rem;
        min-width: 4.4rem;
        font-size: 0.6em;
    }
    .game .rank {
        font-size: 0.8em;
    }
    .game .btn {
        font-size: 0.8em;
    }
    .game .streamers img {
        width: 0.8rem;
        height: 0.8rem;
    }
    .game .back .game-stat {
        font-size: 0.6em;
    }
    .game .back .game-stat span {
        font-size: 0.4em;
    }
    .game:hover .back .streamer {
        font-size: 0.4rem;
    }
    .scroll-arrow-left,
    .scroll-arrow-right {
        display: none;
    }
    .main-container {
        margin-right: 0;
        margin-left: 0;
    }
    .game-section {
        width: auto;
    }
    .content-info h2 {
        font-size: 10px;
    }
    .sidebar {
        display: none;
    }
    .profile-main-section {
        display: none;
        background: linear-gradient(51.48deg, rgba(140, 92, 242, 0.2) -5.88%, rgba(0, 0, 0, 0) 62%), #1C1C1C;
    }
}